@media (max-width: 1119px) {
    .container {
        flex: 0 0 100%;
        margin: 0;
        padding: 0;
    }

    .calculatrice,
    .resultat {
        width: 650px;
        margin: 0 auto;
        height: auto;
    }

    .resultat {
        margin-top: 20px;
    }

    .formulaire {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .montant,
    .durée,
    .taux {
        flex: 0 0 100%;

        justify-content: center;
        text-align: center;
    }

    #table-container {
        width: 100%;
    }

    table th,
    table td {
        text-align: center;
        padding: 8px;
    }

    table th {
        color: var(--color-blue-microlead);
        text-align: center;
    }

    button {
        margin: 0;
    }

    label {
        margin-bottom: 10px;
    }

    h2 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    element.style {
        margin-left: 0;
    }
}