:root {
    --color-blue-microlead: #234B68;
    --color-black-microlead: #030303;
    --color-white-microlead: #fff;
    --color-grey-microlead: #4B5563;
    --color-orange-microlead: #FF822E;
    --color-blueact-microlead: #29517F;

}

body {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculatrice {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 400px;
    margin: 0 auto;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: var(--color-blueact-microlead);
}

input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

button[type="submit"] {
    margin-top: 25px;
    align-self: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-blueact-microlead);
    color: #fff;
    cursor: pointer;
    width: 100px;
}

button[type="submit"]:hover {
    background-color: var(--color-blue-microlead);
}

h1 {
    text-align: center;
    color: var(--color-blueact-microlead);
    padding-bottom: 20px;
    margin-top: 10px;
}

.montant label {
    margin-right: 100px;
}

.taux label {
    margin-right: 130px;
}

.durée label {
    margin-right: 58px;
}

.durée {
    padding-bottom: 20px;
}

.taux {
    padding-bottom: 0px;
}

.montant {
    display: flex;
    align-items: center;
}

.montant input[type="text"] {
    margin-right: -20px;
    /* Pour rapprocher l'input du symbole € */
}

.euro-symbol {
    background-color: var(--color-blueact-microlead);
    padding: 5px 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 28px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white-microlead);
    border-radius: 0 10px 10px 0;
}

.taux {
    display: flex;
    align-items: center;
}

.taux input[type="text"] {
    margin-right: -20px;

}

.durée {
    display: flex;
    align-items: center;
}

.durée input[type="text"] {
    margin-right: -20px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    text-align: left;
    padding: 8px;
}

table th {
    color: var(--color-blue-microlead);

}

h2 {
    color: var(--color-blueact-microlead);
    padding-bottom: 20px;
    margin-top: 10px;

}

.resultat {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

button#download-pdf {
    display: block;
    margin: 20px auto;
    align-self: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-blueact-microlead);
    color: #fff;
    cursor: pointer;
}

.error-message {
    color: var(--color-orange-microlead);
}

.text p {
    padding-bottom: 20px;
}
.responsive{
    background-color: var(--color-blueact-microlead);

}
@media(max-width:798px){
    .container{
        
        display: block;
        margin: 0;
        padding: 0;
    }
    h1 {
        text-align: center;
        color: var(--color-blueact-microlead);
        
    }
    .calculatrice{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border: 2px solid #ddd;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);       
    }
    .form{
         flex: 0 0 100%;
        max-width: 100%;
    }

}